/**
 * Selector(id, class, tag name) {
 *    property-name: value;
 *    property-name: value;
 *    property-name: value;
 *    property-name: value;
 * }
 **/
body,
html {
  background-color: rgb(22, 103, 150);
  padding: 0;
  margin: 0;
}
h1 {
  color: antiquewhite;
}
.box {
  background-color: yellow;
  padding: 50px;
  margin: 70px 50px 30px 10px;
  width: 50%;
  height: 50%;
  border-color: brown;
  border-style: double;
  border-width: 20px;
  border-radius: 30%;
}
.inside_box {
  background-color: yellowgreen;
  width: 50%;
  height: 80%;
}
